<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mega Rocket</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="../css/header.css" rel="stylesheet">
        <link href="../css/login.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../css/footer.css">
        <script src="../js/login.js"></script>
</head>
<body>
    <header>
        <div id="menu-and-h1">
            <img src="../../assets/imgs/firsticon.svg" alt="menu" id="presentation">
            <h1>mega rocket</h1>
         </div>
        <h2 id="second-text-header">A FREE AND FULLY RESPONSIVE SITE TEMPLATE</h2>
        <nav>
            <a href="../views/index.html"><img src="../../assets/imgs/Vectorhouse.svg" alt="home" class="icono"></a>
            <a href="../views/sign-up.html"><img src="../../assets/imgs/Add User Maleadd.svg" alt="profile" class="icono" id="usermale"></a>
            <a href="../views/login.html"><img src="../../assets/imgs/loginnnnnnn.svg" alt="login" class="icono"></a>
            <a href=""><img src="../../assets/imgs/Vectorinfo.svg" alt="info" class="icono"></a>
          </nav>
    </header> 
    <main>
        <form class="firstForm" id="formLogIn">
            <h2>Sign In</h2>
            <input type="text" placeholder="Email" class="formLogin" id="emailLogIn">
            <span class='errors' id="errorEmail"></span>
            <input type="password" placeholder="Password" class="formLogin" id="passwordLogIn">
            <span class='errors' id="errorPassword"></span>
            <input type="button" value="Continue" class="formLogin" id="button">
            <p  class="formLogin" id="pLogin"></p>
        </form>
    </main>
     <footer>
        <div class="footer-pictures">
            <img src="../../assets/imgs/Vector111foot.svg" alt="profile" class="footer-picture" id="facebook">
            <img src="../../assets/imgs/Vectorfooter-1.svg" alt="login" class="footer-picture">
            <img src= "../../assets/imgs/Vectorfooter-2.svg"alt="info" class="footer-picture">
         </div>
        <p class="textfooter">© MEGA ROCKET SA 2023</p>
    </footer>
</body>
</html>