<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mega Rocket</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="../css/header.css" rel="stylesheet">
        <link href="../css/sign-up.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../css/footer.css">
        <script src="../js/sign-up.js"></script>
</head>
<body>
    <header>
        <div id="menu-and-h1">
            <img src="../../assets/imgs/firsticon.svg" alt="menu" id="presentation">
            <h1>mega rocket</h1>
         </div>
        <h2 id="second-text-header">A FREE AND FULLY RESPONSIVE SITE TEMPLATE</h2>
        <nav>
            <a href="../views/index.html"><img src="../../assets/imgs/Vectorhouse.svg" alt="home" class="icono"></a>
            <a href="../views/sign-up.html"><img src="../../assets/imgs/Add User Maleadd.svg" alt="profile" class="icono" id="usermale"></a>
            <a href="../views/login.html"><img src="../../assets/imgs/loginnnnnnn.svg" alt="login" class="icono"></a>
            <a href=""><img src="../../assets/imgs/Vectorinfo.svg" alt="info" class="icono"></a>
          </nav>
    </header> 
    <main>
        <form class="firstForm">
            <h2>Register</h2>
            <div class="divsSU">
                <div class="labels"><label for="name">Name:</label><input type="text" class="formSignUp" id="nameSignUp"></div>
                <span class='errors' id="errorName"></span>
                <div class="labels"><label for="lastSignUp"> Last name:</label><input type="text" class="formSignUp" id="lastSignUp"></div>
                <span class='errors' id="errorLastName"></span>
                <div class="labels"><label for="dniSignup"> DNI:</label><input type="text"  class="formSignUp" id="dniSignup"></div>
                <span class='errors' id="errorDNI"></span>
                <div class="labels"><label for="phoneSignUp">Phone:</label><input type="text" class="formSignUp" id="phoneSignUp"> </div>
                <span class='errors' id="errorPhone"></span>
                <div class="labels"><label for="citySignUp"> City:</label><input type="text"  class="formSignUp" id="citySignUp"></div>
                <span class='errors' id="errorCity"></span>
                <div class="labels"><label for="addressSignUp">Address:</label><input type="text"  class="formSignUp" id="addressSignUp"></div>
                <span class='errors' id="errorAddress"></span>
            </div>
            <div  class="divsSU">
                <div class="labels"><label for="postalSignUp"> Zip code:</label><input type="text"  class="formSignUp" id="postalSignUp"></div>
                <span class='errors' id="errorCode"></span>
                <div class="labels"><label for="dateSignUp">Date of birth:</label><input type="date"  class="formSignUp" id="dateSignUp"></div>
                <span class='errors' id="errorDate"></span>
                <div class="labels"><label for="emailSignUp">Email:</label><input type="text" class="formSignUp" id="emailSignUp"></div>
                <span class='errors' id="errorEmail"></span>
                <div class="labels"><label for="passwordSignUp">Password:</label><input type="password" class="formSignUp" id="passwordSignUp"></div>
                <span class='errors' id="errorPassword"></span>
                <div class="labels"><label for="repeatSignUp">Repeat password:</label><input type="password" class="formSignUp" id="repeatSignUp"></div>
                <span class='errors' id="errorRepeat"></span>
                
            </div>
            <input type="button" value="Continue" class="formSignUp" id="buttonSU">
            <p  class="formSignUp" id="pSignUp"></p>
        </form>
    </main>
     <footer>
        <div class="footer-pictures">
            <img src="../../assets/imgs/Vector111foot.svg" alt="profile" class="footer-picture" id="facebook">
            <img src="../../assets/imgs/Vectorfooter-1.svg" alt="login" class="footer-picture">
            <img src= "../../assets/imgs/Vectorfooter-2.svg"alt="info" class="footer-picture">
         </div>
        <p class="textfooter">© MEGA ROCKET SA 2023</p>
    </footer>
</body>
</html>