header{
  border-bottom: 1px solid #000000;
  background-color: white;
  position: relative;
}

h1 {
    text-transform: uppercase;
    font-family: roboto;
    font-style: normal;
    font-weight: 700;
    size: 40px;
    line-height: 47px;
    color: #49A37B;
    text-shadow: 0px 4px 4px;
    width: 550px;
    height: 46px;
    left: 134px;
    top: 66px;  
    display: inline-block;
   
}

nav{
  position: relative;
}

.icono{
  position: absolute;
  display: inline-block;
  
  
}

ul {
  list-style: none; /* Quita los puntos de la lista */
  padding: 0; /* Quita el relleno por defecto de la lista */
  margin: 0; /* Quita los márgenes por defecto de la lista */
}

li {
  display: inline-block; /* Hace que los elementos de la lista estén uno al lado del otro */
  margin-right: 30px; /* Añade un margen entre los elementos para separarlos visualmente */
}
li img {
  float: right;
  vertical-align: middle; /* Alinea verticalmente las imágenes */
  max-width: 100%; /* Ajusta el tamaño de la imagen al ancho del contenedor */
  height: auto;
}