<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mega Rocket</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="../css/header.css" rel="stylesheet">
        <link href="../css/sign-up.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../css/footer.css">
</head>
<body>
    <header>
        <div id="menu-and-h1">
            <img src="../../assets/imgs/firsticon.svg" alt="menu" id="presentation">
            <h1>mega rocket</h1>
         </div>
        <h2 id="second-text-header">A FREE AND FULLY RESPONSIVE SITE TEMPLATE</h2>
        <nav>
              <img src="../../assets/imgs/Vectorhouse.svg" alt="home" class="icono">
              <img src="../../assets/imgs/Add User Maleadd.svg" alt="profile" class="icono" id="usermale">
              <img src="../../assets/imgs/loginnnnnnn.svg" alt="login" class="icono">
              <img src="../../assets/imgs/Vectorinfo.svg" alt="info" class="icono">
          </nav>
    </header> 
    <main>
        <form class="firstForm">
            <h2>Register</h2>
            <div class="divsSU">
                <input type="text" placeholder="Name" class="formSignUp">
                <input type="text" placeholder="Last name" class="formSignUp">
                <input type="text" placeholder="DNI" class="formSignUp">
                <input type="text" placeholder="Phone number" class="formSignUp">  
                <input type="text" placeholder="City" class="formSignUp">  
                <input type="text" placeholder="Address" class="formSignUp">
            </div>
            <div  class="divsSU">
                <input type="text" placeholder="Postal Code" class="formSignUp">
                <label>Date of birth<input type="date" placeholder="Date of birth" class="formSignUp"></label>
                <input type="text" placeholder="Email" class="formSignUp">
                <input type="password" placeholder="Password" class="formSignUp">
                <input type="password" placeholder=" Repeat password" class="formSignUp">
                
            </div>
            <input type="button" value="Continue" class="formSignUp" id="buttonSU">
            <p  class="formSignUp" id="pSignUp"></p>
        </form>
    </main>
     <footer>
        <div class="footer-pictures">
            <img src="../../assets/imgs/Vector111foot.svg" alt="profile" class="footer-picture" id="facebook">
            <img src="../../assets/imgs/Vectorfooter-1.svg" alt="login" class="footer-picture">
            <img src= "../../assets/imgs/Vectorfooter-2.svg"alt="info" class="footer-picture">
         </div>
        <p class="textfooter">© MEGA ROCKET SA 2023</p>
    </footer>
</body>
</html>