main {
    justify-content: center;
    font-family: Roboto;
    text-align: center;
    border-bottom: 1px solid #000000;
    margin-left: 25%;
    margin-right:25%
}

.divsSU {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    background-color: #FDFBFB;
    padding: 18%;
}

.formSignUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    width: 70%;
}

.labels {
   display:flex;
   flex-direction: row;
   justify-content: center;
  
}

label {
    margin-right: 20px;
    margin-top: 5%;
    width: 50%;
   text-align:left;
   align-self: center;
   font-size: medium;
   color: #49A37B;
}

h2{
    margin-bottom: 3%;
}

#buttonSU {
    width: 70%;
    margin-top: 30px;
    margin-left:20%;
    padding: 10px 24px;
    background: #49A37B;
    border-radius: 5px;
    border-color: #49A37B; 
    color: aliceblue;
    text-align: center;
}

.errors {
    display: none;
}

.message {
    display: block;
    color: red;
    font-family: Roboto;
    font-size:small;
  }

  label, input, textarea {
    width: 25%;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    align-items: center;
  }

  input {
    align-content: center;
    justify-content: center;
    text-align: center;
  }