
  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #000000;
    background-color: white;
  }

   .icono{
    align-items: center;
    justify-content: center;
    display: inline-flex;
    padding: 20px;
   }

  h2,h3{
    font-family: roboto;
    color:#49A37B;
  }

  #menu-and-h1{
    display: inline-flex;
    justify-content: center;
    text-transform: uppercase;
    color: #49A37B;
    font-family: roboto;
  }

  #presentation{
    display:inline-flex;
  }

  .tablet-image{
    display: none;
  }

  .h1{
    display: flex;
   
  }

  #second-text-header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: roboto;
    font-size: 1.5em;
    width: 100%;
    color: #000000;
  } 

  .nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between
    
  }

  .text-presentation{
    color: #000000;
  }
  
  #first-sec{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("https://raw.githubusercontent.com/cecilialopezramirez/BaSP-M2023/a0f792daa05540454466a527782ce2a7fe53193b/Week-04/Assets/img/backgroundimage.svg") ;background-color:rgba(0, 0, 0, 0.15); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center,center;
    font-family: roboto;
    border-bottom: 1px solid #000000;
  }

  .image{
    display: none;
  }

  #learn-more {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    margin-bottom: 15px;
    background: #FFFFFF;
    border: 1px solid #49A37B;
    border-radius: 5px;
  }

  #second-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000000;
    font-family: roboto;
  }

  .second-title{
    display: none;
  }

  .group-fun{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .fun-titles{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #49A37B;
  }
  .para-functions{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .a-bus{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: 1px solid #000000;
    font-family: roboto;
  }

  .about-us{
    color: #49A37B;
  }

  #third-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    font-family: roboto;
  }

  .first-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #send-desktop,#comments-desktop{
    display: none;
  }

  #comments{
    margin-top: 20px;
  }

  #send{
    width: 30%;
    flex: 0 0 20%;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 35%;
    padding: 10px 24px;
    background: #AACE9B;
    border-radius: 5px;
    border-color: #AACE9B;
  }

  #reason-title{
    font-size: 1.5em;
  }

  div.motives{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    }

    .reasons{
      justify-content: center;
      list-style-type:none;  
    }

  input[type="text" i] {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .list{
    padding-inline-start: 0px;
    color: #373867;
  }

  #fourth-sec{
    display: flex;
    flex-direction: column;
    align-items: left;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
  }

  .items{
    color: #373867;
    list-style-type:circle;
  }

  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-pictures{
    flex-direction: row;
    margin-top: 5%;
    
  }

  .footer-picture{
    padding: 15px;
  }

  @media only screen and (min-width: 601px)  {

    #second-text-header{
      display: none;
    }

    #menu-and-h1{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 10%;
      text-transform: uppercase;
      color: #49A37B;
      font-family: roboto;
    }

    #first-sec{
      display:flex ;
      flex-direction: row;
      justify-content: flex-start;
      background-image:none; 
      background-color: #FFFFFF;
      font-family: roboto;
      border-bottom: 1px solid #000000;
    }

    .tablet-presentation{
      display: flex;
      flex-direction:column;
      width: 50%;
    }
    
    #presentation{
      display: flex;
      position: absolute;
      left: 0;
      margin-top: 15px;
      margin-left:10%;  
    }

    #landing-presentation{
      display: flex;
      margin-left: 5%;
    }
    
    .text-presentation{
      color:#49A37B;
    }

    .second-title{
      display: flex;
    }

    .tablet-image{
      display: flex;
    }

    #second-sec{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #000000;
      font-family: roboto;
    }

    .functions{
      display: flex;
      flex-direction: row;
    }
    .group-fun{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-left: 10%;
      margin-right:10%;
    }
  
    .fun-titles{
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;
      color: #49A37B;
    }
    .para-functions{
      display: flex;
      flex-direction: row;
      
    }
    
    #second-section-title{
      align-items: center;
      text-align: center;
      margin-left:12%;
    }

    #fourth-sec{
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 1px solid #000000;
      border-top: 1px solid #000000;
    }

    .activities-title{
      text-align: center;
    }
  }

  @media only screen and (min-width: 1024px)  {
    header{
      display: flex;
      flex-direction: row;
      align-items: baseline;
      width: 100%;
      border-bottom: 1px solid #000000;
      background-color: white;
    }

    #menu-and-h1{
      display: flex;
      flex-direction: row;
      width: 86%;
      gap: 0;
      margin-top:2px;
      text-transform: uppercase;
      color: #49A37B;
      font-family: roboto;
    }

    #presentation{
      display: flex;
      margin-left: 0;
      left: 0;
      margin-top: 0;
     
    }

    h1{
      display: flex;
      margin-right:65%;
      margin-top: 1%;
      margin-bottom: 0;
    }

    .icono{
      display: inline-flex;
      right: 0;
      bottom: 0;
      padding-left:0;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 0;
     }

     .tablet-image{
      display: none;
     }

     .image{
      display:inline-flex;
      margin-right: 4%;
      width: 50%;
     }

     #landing-presentation{
      display: flex;
      margin-left: 7%;
      width: 50%
    }
    
    .first-section{
      display: flex;
      flex-direction: row;
    }

    #second-section-title{
      display: flex;
      align-items: center;
      text-align: center;
      margin-left: 0;
    }

    .a-bus{
      display: flex;
      flex-direction: row;
    }

    .about-us{
      margin: 3%;
    }

    #comments{
      display: none;
    }

    #send{
      display: none;
    }

    #comments-desktop{
      display: flex;
      margin-top: 2%;
      margin-bottom: 2%;

    }

    #send-desktop{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2%;
      width: 8%;
      background: #AACE9B;
      border-radius: 5px;
      border-color: #AACE9B;
    }

    .first-form{
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    div.motives{
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      margin-right: 20%;
      margin-bottom: 5%;
      
      }

      .form-motives{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      #fourth-sec{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        border-bottom: 1px solid #000000;
        border-top: 1px solid #000000;
      }

  }