
  
  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #000000;
    background-color: white;
  }

   .icono{
    align-items: center;
    justify-content: center;
    display: inline-flex;
    padding: 20px;
   }

  h2,h3{
    font-family: roboto;
    color:#49A37B;
  }
  #menu-and-h1{
    display: inline-flex;
    justify-content: center;
    text-transform: uppercase;
    color: #49A37B;
    font-family: roboto;
  }



  #presentation{
    display:inline-flex;
  }

  .h1{
    display: flex;
   
  }

  #second-text-header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: roboto;
    font-size: 1.5em;
    width: 100%;
    color: #000000;
  } 

  .nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between
    
  }

  .text-presentation{
    color: #000000;
  }
  
  #first-sec{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/img/backgroundimage.svg") ;background-color:rgba(0, 0, 0, 0.15); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center,center;
    font-family: roboto;
    border-bottom: 1px solid #000000;
  }

  .image{
    display: none;
  }

  #learn-more {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    margin-bottom: 15px;
    background: #FFFFFF;
    border: 1px solid #49A37B;
    border-radius: 5px;
  }

  #second-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000000;
    font-family: roboto;
  }

  .second-title{
    display: none;
  }

  .group-fun{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .fun-titles{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #49A37B;
  }
  .para-functions{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .a-bus{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: 1px solid #000000;
    font-family: roboto;
  }

  .about-us{
    color: #49A37B;
  }

  #third-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    font-family: roboto;
  }

  .first-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  div.motives{
    display: flex;
    flex-direction: column;
    }

    .reasons{
      justify-content: center;
      list-style-type:none;  
    }

  input[type="text" i] {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .list{
    padding-inline-start: 0px;
  }
