
header{
  border-bottom: 1px solid #000000;
  background-color: white;
  position: relative;

}

#menu{
  height: 30px;
  bottom: 0;
  margin: 0;
}

h1 {
    text-transform: uppercase;
    font-family: roboto;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    color: #49A37B;
    text-shadow: 0px 4px 4px; 
    display: inline-block;
    width: 90%;
    margin: 0%;
}

.sections{
  width: 1200px;
  margin: 0 auto;
  border-bottom:1px solid #000000;
  padding-bottom: 50px;
}

nav{
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0;
  
}

h2, h3{
  font-family: roboto;
  color: #49A37B;
  line-height: .88px
 
}

#usermale{
  position: relative;
  height: 30px;
  width: 30px;
  bottom: 0;  
}

p{
  font-family: roboto;
  font-style: Regular;
}

#presentation{
  width: 30%;
  margin: 0;
  display: inline-block;
  padding-bottom: 30px;
  padding-right: 150px;
}

.image{
  width:500px;
  height:400px;
  margin:0;
  display: inline-block;
  vertical-align: middle;
  right: 0;
}

#learnmore{
  display: flex;
  padding: 7px 18px;
  gap: 10px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #373867;
  background: #FFFFFF;
  border: 1px solid #49A37B;
  border-radius: 5px;
  text-align: center;
  top: 6px;
}

.functions{
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.groupfun{
  display: inline-block;
 
}
.funtitles{
  display: inline-block;
  
}

.titleparagraph{
  display: inline-block;
  width: 70%;
}

.parafunctions{
  display:inline-block;
  vertical-align: top;
 position: relative;
  width: 150px;
  
}
.abus{
  display: inline-block;
}

.aboutus{
  display: inline-block;
  margin-top: 75px;
  margin-left: 30px;
}
.aboutustext{
  display:inline;
  position: relative;
  width:85%;
 float:right;
 vertical-align: top;
 text-align: center;
 margin-top:50px ;
}
label{
  color: #373867;
  display: inline-block;
  margin: 0;
}
[type="checkbox"]{
  display: inline-block;
}
textarea{
  display: block;
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
}

.firstform{
  display: inline-block;
}

.motives{
  display:inline-block;
  position: absolute;
  width: 50%;
  right: 0;

}

.motivos{
  display: inline-block;
  width: 150%;
}
input {
  display: block;
  margin-bottom: 20px; 
  color: #373867;
}
.firstmember{
  display: inline-block;
  position:relative;
  width:50%;
}
.secondmember{
  display: inline-block;
  position: relative;
  width: 50%;
}
#send{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 12px;
  gap: 10px;
  background: #AACE9B;
  border-radius: 5px;
}

.footerpicture{
  display: inline-block ;
  position:relative;
  margin-left: 10px;
  margin-bottom: 0;
}

.textfooter{
  display: inline-block;
  position: relative;
  margin-left: 530px;
  width: 100%;
  
}

.first{
  display: inline-block;
}

.second{
  display: inline-block;
}

.third{
  display: inline-block;
  vertical-align: top
}

.fourth{
  display: inline-block;
  vertical-align: top
}

.items{
  color: #373867;
  list-style-type:circle;
}
#facebook{
  margin-left:550px;
}

footer{
  margin-top: 10px;
}